# קבצי מערכת וסביבות פיתוח
.vscode/
.idea/

# סביבות וירטואליות
.venv/
env/
venv/

# קבצי קומפילציה של פייתון
*.pyc
__pycache__/

# תיקיות עם קונפיגורציה מקומית או רגישות
instance/

# קבצים רגישים עם סיסמאות או מפתחות API
.env
client_secrets.json

# קבצים זמניים של מערכות הפעלה
.DS_Store
Thumbs.db
